.App{
  padding: 50px 200px;
}
/* #bar{
  height: 700px;
  width: 300px;
  display: inline-block;
  margin-right: 100px;
} */
#sunburst{
  height: 700px;
  width: 500px;
  display: inline-block;
  margin-right: 10px;
}
#map{
  width: 500px;
  height: 700px;
  display: inline-block;
}
#geoCoordMap{
  width: 1500px;
  height: 1000px;
}